@import '../../assets/global.scss';

.paper {
    display: flex;
    margin-top: $top-offset;

    &__page {
        padding: 10px;
    }

    &__illustrations {
        @extend .paper__half;
        float: right;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    a {
        @extend .fheader;
        text-transform: uppercase;
    }

    &--ru {
        color: $color-black;
    }

    &--en {
        color: $color-blue;
    }
}