$color-blue: rgb(10, 16, 250);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$page-width: 750px;
$logo-height: 25px;
$top-offset: 50px;

a {
    text-decoration: none;
    color: inherit;
}

.container--center {
    margin-top: 36px;

    display: flex;
    justify-content: center;
}

.wrapper {
    width: $page-width;
}

$wrapper-offset: 100px;

.double-text {
    $shift: 46px;
    position: relative;
    padding-bottom: $shift;

    &__black, &__blue {
        font-family: 'Din';
        font-weight: bold;
        font-size: 60pt;
        line-height: 62pt;
        text-transform: uppercase;
    }

    &__black {
        position: relative;
        z-index: 1;

        pointer-events: none;
        a {
            pointer-events: auto;
        }
    }

    &__blue {
        position: absolute;
        top: $shift;
        right: 0;
        left: 0;
        
        color: $color-blue;
    }
}

.abs-full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ftext {
    font-family: 'Din B';
    font-size: 13pt;
    line-height: 15pt;
}

.fheader {
    font-family: 'Din';
    font-weight: bold;
    font-size: 14pt;
    line-height: 18pt;
}

.paper {
    display: flex;

    &__half {
        width: 50%;
        padding: 10px;

        &:first-of-type {
            color: $color-black;
            a { color: $color-blue; }
        }

        &:last-of-type {
            color: $color-blue;
            a { color: $color-black; }
        }
    }

    p {
        @extend .ftext;
        text-align: justify;

        &:first-of-type {
            margin-top: 0;
        }
    }
    
    b {
        @extend .fheader;
    }

    &--article {
        img {
            float: left;
            width: $page-width / 3;
            margin: 10px 10px 0 0;
            height: auto;
        }
    }

    &__title {
        margin-top: $top-offset;
        
        > div {
            @extend .fheader;
            text-align: center;

            &:first-of-type {
                color: $color-black;
            }

            &:last-of-type {
                color: $color-blue;
            }
        }
    }
}