$color-blue: rgb(10, 16, 250);
$color-black: rgb(0, 0, 0);
$page-width: 700px;
$logo-height: 25px;

a {
    text-decoration: none;
    color: inherit;
}

.container--center {
    margin-top: 36px;

    display: flex;
    justify-content: center;
}

.wrapper {
    width: $page-width;
}

.double-text {
    $shift: 46px;
    position: relative;
    padding-bottom: $shift;

    &__black, &__blue {
        font-family: 'Din';
        font-weight: bold;
        font-size: 60pt;
        line-height: 62pt;
        text-transform: uppercase;
    }

    &__black {
        position: relative;
        z-index: 1;

        pointer-events: none;
        a {
            pointer-events: auto;
        }
    }

    &__blue {
        position: absolute;
        top: $shift;
        right: 0;
        left: 0;
        
        color: $color-blue;
    }
}